/*
Derived from Nightmare Fuzzing Projeft CSS
@author: joxean
*/
h1 {
  display: block;
  background-color:#009374;
  padding: 3px 0 5px 3px;
  color: #FFFFFF;
}

.navbar-brand-logo {
  float: left;
  height: 50px;
  padding: 5px 15px;
  font-size: 18px;
  line-height: 20px;
}

#vertmenu {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 100%;
  width: 160px;
  padding: 0px;
  margin: 0px;
  float: left;
  position: relative;
  left: 0%;
  margin-right: 10;
  margin-bottom: 10;
}

#vertmenu h1 {
  display: block;
  background-color:#009374;
  font-size: 90%;
  padding: 3px 0 5px 3px;
  border: 1px solid #000000;
  color: #FFFFFF;
  margin: 0px;
  width:159px;
}

#vertmenu ul {
  list-style: none;
  margin: 0px;
  padding: 0px;
  border: none;
}
#vertmenu ul li {
  margin: 0px;
  padding: 0px;
}
#vertmenu ul li a {
  font-size: 80%;
  display: block;
  border-bottom: 1px dashed #C39C4E;
  padding: 5px 0px 2px 4px;
  text-decoration: none;
  color: #666666;
  width:160px;
}

#vertmenu ul li a:hover, #vertmenu ul li a:focus {
  color: #000000;
  background-color: #eeeeee;
}

#content {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#footer {
  font-size:70%;
  clear: both;
  position: relative;
  z-index: 10;
  height: 3em;
}

#footer h2 {
  display: block;
  background-color:#009374;
  padding: 3px 0 5px 3px;
  color: #FFFFFF;
}

#data, #data_wrapper {
  border-collapse: separate;
}

#data th, #data_wrapper th {
    background-color:#009374;
    color:#FFFFFF;
}

#data_wrapper th.sorting {
      padding-right: 24px;
}

#data tr:hover td {
    background-color: #B1C800;
}

#data tr:nth-child(even) {
  background-color:white;
}

#data tr:nth-child(odd) {
    background-color:#D6F1F4;
}

#data button, #data_wrapper button {
      padding: 2px 1em;
}

#data_filter {
    float: right;
}

#data_length {
    float: left;
    padding: 0px 5px 0px 0px;
}

#hextable {
  border-collapse:collapse;
}

#hextable th {
    background-color:#009374;
    color:#FFFFFF;
}

.label {
  font-family: Courier;
}

.panel-group {
  margin-bottom: 10px;
}

.panel-group .panel {
    border-radius: 0;
    box-shadow: none;
    border-color: #EEEEEE;
}

.panel-default > .panel-heading {
    padding: 0;
    border-radius: 0;
    color: #212121;
    background-color: #FAFAFA;
    border-color: #EEEEEE;
}

.panel-title {
    font-size: 14px;
    line-height: 1.0;
}

.panel-title > a {
    display: block;
    padding: 8px;
    text-decoration: none;
}

.more-less {
    float: right;
    color: #212121;
}

.panel-default > .panel-heading + .panel-collapse > .panel-body {
    border-top-color: #EEEEEE;
}

.btn-green{background-color:#009374; color: white !important;}

.btn-green:hover{color: black !important;}

.table {
  font-size: small
}

.table > tbody > tr > td {
  padding: 6px;
}

/* Tooltip container */
.tooltip {
  display: inline-block;
  /* border-bottom: 1px dotted black; /* If you want dots under the hoverable text */
}

.tooltip-inner {
  max-width:600px;
}

/* Tooltip text */
.tooltip .tooltiptext {
  visibility: hidden;
  width: 600px;
  background-color: black;
  color: #fff;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;

  /* Position the tooltip text - see examples below! */
  position: absolute;
  z-index: 1;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
  visibility: visible;
}

.popover{
    max-width:600px;
}

@media (min-width: 2000px) {
    .container{
        max-width: 1940px;
        min-width: fit-content;
    }
}

@media (min-width: 1600px) {
  .container {
    max-width: 1540px;
    min-width: fit-content;
  }
}

#events {
        margin-bottom: 1em;
        padding: 1em;
        background-color: #f6f6f6;
        border: 1px solid #999;
        border-radius: 3px;
        height: 50px;
        overflow: auto;
    }
