<!doctype html>
<html>
<head>
    <meta charset="UTF-8">
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico')}}">
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs/jq-3.3.1/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/r-2.2.5/rg-1.1.2/sc-2.0.2/sl-1.3.1/datatables.min.css"/>
    <link href="/static/luckycat.css" rel="stylesheet" type="text/css">

<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script type="text/javascript" src="https://cdn.datatables.net/v/bs/dt-1.10.21/b-1.6.3/b-colvis-1.6.3/b-html5-1.6.3/cr-1.5.2/r-2.2.5/rg-1.1.2/sc-2.0.2/sl-1.3.1/datatables.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/numeral.js/2.0.6/numeral.min.js"></script>

    <!-- update url-->
    <script type="text/javascript" src="{{ url_for('static', filename='js/update_url_variables.js') }}"></script>
    <style>
        body{
            padding-top: 70px;
        }
        a:link{
            color:#2b669a;
            text-decoration:none;
        }
        td.clickable {
            cursor:pointer;
        }
        .navbar-inner {
            background-color: #255e54; /*#607873; /* background color will be black for all browsers */
            background-image: none;
            background-repeat: no-repeat;
            filter: none;
        }
            .navbar-default .navbar-brand, .navbar-default .navbar-nav > li > a {
            color: #ddd;
        }
            .navbar-default .navbar-brand:hover, .navbar-default .navbar-nav > li > a:hover {
            color: #fff;
        }
    </style>
{% block head %}{% endblock %}
{% with messages = get_flashed_messages() %}
    {% if messages %}
        <ul class=flashes>
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
{% endwith %}
</head>
<body>


<nav role="navigation" class="navbar navbar-default navbar-fixed-top navbar-inner" style="margin-bottom:0; padding: 0">
    <div class="container-fluid" style="padding: 0">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span>
        </button>
        <div class="navbar-brand-logo hidden-sm hidden-md" style="vertical-align: middle; margin-left: 15px">
            <span>
                <img src="{{ url_for('static', filename='Logo_LuckyCat.png') }}" height="50px" width="50px">
            </span>
        </div>
        <div class="navbar-brand hidden-sm hidden-md" style="vertical-align: middle; margin-right: 5px">
            Lucky CAT
        </div>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
        <ul class="nav navbar-nav">

            <li class="{{ 'active' if active_page == 'Index' else '' }}">
                <a href="/"><span class="glyphicon glyphicon-home"></span> Index <span class="sr-only">(current)</span></a>
            </li>
            <li class="{{ 'active' if active_page == 'Jobs' else '' }}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-tasks"></span> Jobs<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/jobs/show"><span class="glyphicon glyphicon-list"></span> Show</a></li>
                    <li><a href="/jobs/add"><span class="glyphicon glyphicon-plus"></span> Add job</a></li>
                    <li><a href="/jobs/fuzzers"><span class="glyphicon glyphicon-list"></span> Fuzzers</a></li>
                </ul>
            </li>
            <li class="{{ 'active' if active_page == 'Crashes' else '' }}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-flash"></span> Crashes<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/crashes/all"><span class="glyphicon glyphicon-list"></span> All</a></li>
                    <li><a href="/crashes/show"><span class="glyphicon glyphicon-th-list"></span> By Job</a></li>
                    <li><a href="/crashes/search"><span class="glyphicon glyphicon-search"></span> Search</a></li>
                </ul>
            </li>
            <li class="{{ 'active' if active_page == 'Statistics' else '' }}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-stats"></span> Statistics<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/statistics/show"><span class="glyphicon glyphicon-stats"></span> Statistics</a></li>
                    <li><a href="/stats"><span class="glyphicon glyphicon-list"></span> Fuzzer Stats</a></li>
                    <li><a href="/stats/jobs"><span class="glyphicon glyphicon-briefcase"></span> Job Stats</a></li>
                    <li><a href="/stats/targets"><span class="glyphicon glyphicon-remove-circle"></span> Target Stats</a></li>
                    <li><a href="/stats/fuzzers"><span class="glyphicon glyphicon-fire"></span> Fuzzer-Target Stats</a></li>
                </ul>
            </li>
            <li class="dropdown {{ 'active' if active_page == 'Settings' else '' }}">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-cog"></span> Settings<span class="caret"></span></a>
                <ul class="dropdown-menu">
                    <li><a href="/user/manage"><span class="glyphicon glyphicon-user"></span> Manage Users</a></li>
                    <li><a href="/user/add"><span class="glyphicon glyphicon-plus"></span> Add User</a></li>
                </ul>
            </li>
            <li class="{{ 'active' if active_page == 'About' else '' }}">
                <a href="/about"><span class="glyphicon glyphicon-globe"></span> About</a>
            </li>
            <li class="{{ 'active' if active_page == 'current_user.email' else '' }}">
                {% if current_user.is_authenticated %}
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="glyphicon glyphicon-user"></span>&nbsp;{{ current_user.email }}<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="/user/profile"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
                        <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
                    </ul>
                {% else %}
                    <a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a>
                {% endif %}
            </li>
        </ul>
    </div>
    </div>
</nav>

<div id="content" style="width:95%; margin: 0 auto;">
    <div class="container">
        {% block content %}{% endblock %}
    </div>
</div>

<hr style="margin-top: 30px;">

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4" style="text-align:center;">
        &copy; 2013-2015 Joxean Koret, 2018 Fraunhofer FKIE
    </div>
    <div class="col-md-4"></div>
</div>



</body>
</html>
