{% extends "base.html" %}

{% set active_page = "Crashes" %}

{% block content %}


<div class="row">
<h2>Information for crash {{ crash.id }}</h2>
<h3>General</h3>
<a href="/crashes/show/previous/{{ crash.id }}" class="btn btn-sm btn-green white" role="button" >Previous Crash <span class="glyphicon glyphicon-step-backward"></span></a>
<a href="/crashes/download/{{ crash.id }}" class="btn btn-sm btn-green white" role="button" >Download Sample <span class="glyphicon glyphicon-download"></span></a>
<a href="/crashes/show/next/{{ crash.id }}" class="btn btn-sm btn-green white" role="button" >Next Crash <span class="glyphicon glyphicon-step-forward"></span></a>

{% if current_user.has_role('admin') %}
  <form action="/crashes/verify" id="verify_form" method="POST">
    <label for"api_token"> Rode0day API token: </label>
    <input type="text" id="api_token" name="r0_api_token", size="50" value="" required="True">
    <input type="hidden" name="crash_id" value="{{crash.id}}">
    <input type="submit" id="v_submit" class="btn btn-sm btn-green white" value="Verify Sample">
  </form>
{% endif %}

<table class="table table-responsive table-hover table-bordered" style=" width: 100%;">
  <tr>
    <th align="left">Job</th>
    <td>{{ crash.job.name }}</td>
  </tr>
  <tr>
    <th align="left">Bug ID</th>
    <td>{{ crash.bug_id }}</td>
  </tr>
  <tr>
    <th align="left">Filename</th>
    <td>{{ crash.filename }}</td>
  </tr>
  <tr>
    <th align="left">Timestamp</th>
    <td>{{ crash.timestamp }}</td>
  </tr>
  <tr>
    <th align="left">Signal</th>
    <td>{{ map_signal_to_string(crash.crash_signal) }}</td>
  </tr>
  <tr>
    <th align="left">Exploitable?</th>
    <td>
      {% if crash.exploitability %}
          <font color={{ exploitable_color(crash.exploitability) }}>{{ crash.exploitability }}</font>
      {% else %}
          None
      {% endif %}
    </td>
  </tr>
  <tr>
    <th align="left">Crash hash</th>
    <td>{{ crash.crash_hash|to_hex }}</td>
  </tr>
</table>
</div>

{% if crash.additional %}
<div class="row">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingAdditional">
              <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseAdditional" aria-expanded="true" aria-controls="collapseAdditional" onclick="dumphex()">
                      <i class="more-less glyphicon glyphicon-plus"></i>
                      Additional
                  </a>
              </h4>
          </div>
          <div id="collapseAdditional" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingAdditional">
              <div class="panel-body">
                <pre>
                    {{ crash.additional }}
                </pre>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}

<div class="row">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingHex">
              <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseHex" aria-expanded="true" aria-controls="collapseHex">
                      <i class="more-less glyphicon glyphicon-plus"></i>
                      Hexdump
                  </a>
              </h4>
          </div>
          <div id="collapseHex" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingHex">
              <div class="panel-body">
                <pre id="hexdump"></pre>
              </div>
          </div>
      </div>
  </div>
</div>

{% if encoded_original_test_case %}
<div class="row">
  <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

      <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingDiff">
              <h4 class="panel-title">
                  <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseDiff" aria-expanded="true" aria-controls="collapseDiff" onclick="create_diff()">
                      <i class="more-less glyphicon glyphicon-plus"></i>
                      Diff
                  </a>
              </h4>
          </div>
          <div id="collapseDiff" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingDiff">
              <div class="panel-body">
                <pre id="diff"></pre>
              </div>
          </div>
      </div>
  </div>
</div>
{% endif %}

{% if current_user.has_role('admin') %}
  <hr>
  <h4>Raw crash stats</h4>
  <table class="table table-hover table-sm" style="width: 100%;">
    {% for key, value in crash.to_dict().items() %}
      <tr>
        <th style="padding: 3px;">{{ key }}</th>
        <td style="padding: 3px;">: {{ "%.128s"|format(value) }}</td>
      </tr>
      {% endfor %}
  </table>
{% endif %}


<script src="{{ url_for('static', filename='hexdump.js') }}"></script>
<script src="{{ url_for('static', filename='diff_match_patch.js') }}"></script>

<script type="text/javascript">
  function toggleIcon(e) {
      $(e.target)
          .prev('.panel-heading')
          .find(".more-less")
          .toggleClass('glyphicon-plus glyphicon-minus');
  }
  $('.panel-group').on('hidden.bs.collapse', toggleIcon);
  $('.panel-group').on('shown.bs.collapse', toggleIcon);
  var crash_test_case = atob("{{ encoded_crash_test_case }}");

  new Hexdump(crash_test_case, {
    container: 'hexdump'
    , base: 'hex'
    , width: 16
    , byteGrouping: 1
    , html: true
    , lineNumber: true
    , style: {
        lineNumberLeft: ''
      , lineNumberRight: ':'
      , stringLeft: '|'
      , stringRight: '|'
      , hexLeft: ''
      , hexRight: ''
      , hexNull: '.g'
      , stringNull: '.'
    }
  });

  var dmp = new diff_match_patch();
  function create_diff() {
    var original_test_case = atob("{{ encoded_original_test_case }}"),
      crash_test_case = atob("{{ encoded_crash_test_case }}"),
      color = '',
      span = null;
    var diff = dmp.diff_main(original_test_case, crash_test_case);
    document.getElementById('diff').innerHTML = dmp.diff_prettyHtml(diff);
  }

//  $("#v_submit").click(function() {
//      var url = "/crashes/verify";
//
//      $.ajax({
//          type: "POST",
//          url: url,
//          data: $("#verify_form").serialize(),
//      });
//      return false;
//  });

</script>



{% endblock %}
