{% extends "base.html" %}

{% set active_page = "Crashes" %}

{% block content %}

<h2>Crashes</h2>
  <div id="pretable"></div>
  <table class="table table-responsive table-hover table-bordered" style=" width: 100%;" id="data">
    <thead>
      <tr>
          <th>A</th>
          <th>Job</th>
          <th>Fuzzer</th>
          <th>Verified</th>
          <th>Bug id</th>
          <th>filename</th>
          <th>iteration</th>
          <th>bb_count</th>
          <th>Signal</th>
          <th>Size</th>
          <th>Exploitability</th>
          <th>Hash</th>
          <th>Timestamp</th>
          <th>Job ID</th>
      </tr>
    </thead>
  </table>
<script>
  $(document).ready(function() {
    var ajax_url = '/api/crash';
    $.fn.dataTable.ext.buttons.reload = {
        text: 'Reload',
        action: function (e, dt, node, config) {
            dt.ajax.reload();
    }}
    $.fn.dataTable.ext.buttons.notverified = {
        text: 'Verified <= 0',
        action: function (e, dt, node, config) {
            ajax_url = '/api/crash?verified=0';
            dt.ajax.url(ajax_url).load();
    }}
    $.fn.dataTable.ext.buttons.verified = {
        text: 'Verified > 0',
        action: function (e, dt, node, config) {
            ajax_url = '/api/crash?verified=1';
            dt.ajax.url(ajax_url).load();
    }}
    $.fn.dataTable.ext.buttons.uniquebugs = {
        text: 'Unique Bugs',
        action: function (e, dt, node, config) {
            ajax_url = '/api/crash?uniqbugs=1';
            dt.ajax.url(ajax_url).load();
    }}
    $.fn.dataTable.ext.buttons.nullbugs = {
        text: 'Null Bugs',
        action: function (e, dt, node, config) {
            ajax_url = '/api/crash?nullbugs=1';
            dt.ajax.url(ajax_url).load();
    }}
    $.fn.dataTable.ext.buttons.reset = {
        text: 'Reset',
        action: function (e, dt, node, config) {
            ajax_url = '/api/crash';
            dt.ajax.url(ajax_url).load();
    }}
    var table = $('#data').DataTable({
      dom: 'lfrBtip',
      colReorder: true,
      "pageLength": 25,
      "processing": true,
      "reponsive": true,
      "deferRender": true,
      "ajax": {
          "url": "/api/crash",
          "data": {
    {% if values.uniqbugs %} "uniqbugs": 1, {% endif %}
    {% if values.nullbugs %} "nullbugs": 1, {% endif %}
    {% if values.bug_id %} "bug_id": "{{ values.bug_id }}", {% endif %}
    {% if values.job_id %} "job_id": "{{ values.job_id }}", {% endif %}
    {% if values.fuzzer_id %} "fuzzer_id": "{{ values.fuzzer_id }}", {% endif %}
    {% if values.target_id %}
              "target_id": "{{ values.target_id }}",
    {% elif values.target_name %}
              "target_name": "{{ values.target_name }}",
    {% endif %}
          }
      },
      "columns": [
         {'data': 'id',
          'render': function(data, type, row, meta) {
             return ' <a href="/crashes/show/'+data+'"><span class="glyphicon glyphicon-eye-open"></span></a> ' +
                    ' <a href="/crashes/delete/'+data+'"><span class="glyphicon glyphicon-trash"></span></a> ' +
                    ' <a href="/crashes/download/'+data+'"> <span class="glyphicon glyphicon-download"></span></a>';}
         },
         {'data': 'job_name'},
         {'data': 'fuzzer_name'},
         {'data': 'verified'},
         {'data': 'bug_id'},
         {'data': 'filename',
           'render': function(data, type, row) {
             return '<a href="#" data-placement="top" data-toggle="popover" title="'+data+'">'+data.substr(0,9)+'</a>';}},
         {'data': 'iteration',
          'render': $.fn.dataTable.render.number(',','.')},
         {'data': 'bb_count_mu'},
         {'data': 'crash_signal'},
         {'data': 'test_case_size'},
         {'data': 'exploitability', 'visible': false},
         {'data': 'crash_hash',
          'render': function(data, type, row, meta) {
            return '<span data-toggle="tooltip" title="'+data+'">'+data.substr(0,7)+'&#8230;</span>';}},
         {'data': 'timestamp',
          'render': function(data,type,row) {
            return data.substr(5,11);}},
         {'data': 'job_id', 'visible': false}
      ],
      buttons: [
        {'extend': 'copyHtml5',
          'text': 'copy',
          'titleAttr': 'copy'},
        'reload',
        'reset',
        'uniquebugs',
        'nullbugs',
        'verified',
        'notverified',
        'colvis'
          ],
    });
  $('body').popover({selector: '[data-toggle="popover"]', container: 'body'});
  $('body').tooltip({selector: '[data-toggle="tooltip"]', container: 'body'});
  $('#data tbody').on('click', 'td', function() {
    var cell = table.cell(this),
        row_id = cell.index().row,
        col_id = cell.index().column,
        row = table.row(row_id).data(),
        col = table.column(col_id).dataSrc();
    if (col == 'job_name') {
      var new_url = '/api/crash?job_id='+row.job_id;
      console.log("URL: "+new_url);
      table.ajax.url(new_url).load();
    } else if (col == 'fuzzer_name') {
      var new_url = '/api/crash?stat_id=';
      console.log("COL: "+table.column(col_id).dataSrc());
    }
  });
  $('#data tbody').on('click', 'tr', function() {
    var data = table.row(this).data();
    console.log("ROW: "+data.id);
    });

  } );
</script>

{% endblock %}
