{% extends "base.html" %}

  {% set active_page = "Crashes" %}

{% block content %}

<h2>Fuzzing results</h2>

<!--<form name="fmFilter">-->
  <!--<label><b class="label">Show</b> results matching field</label>-->
  <!--<input type="hidden" id="idSelected" value="">-->
  <!--<select name="field" id="idSelect">-->
    <!--<option value="date">Date</option>-->
    <!--<option value="exploitability">Exploitable</option>-->
    <!--<option value="disassembly">Disassembly</option>-->
    <!--<option value="program_counter">Program counter</option>-->
    <!--<option value="crash_signal">Signal</option>-->
    <!--<option value="crash_hash">Crash hash</option>-->
  <!--</select>-->
  <!--<label>with value similar to</label>-->
  <!--<input type="text" name="fieldValue" id="idFieldValue" value="">-->
  <!--<input type="submit" value="Apply">-->
  <!--<input type="button" value="Reset" onclick="javascript:window.location.href='/results';">-->

  <!--<br/>-->

  <!--<label><b class="label">Hide</b> results matching field</label>-->
  <!--<input type="hidden" id="idNoSelected" value="">-->
  <!--<select name="no_field" id="idNoSelect">-->
    <!--<option value="crash_signal">Signal</option>-->
    <!--<option value="exploitability">Exploitable</option>-->
    <!--<option value="date">Date</option>-->
    <!--<option value="disassembly">Disassembly</option>-->
    <!--<option value="program_counter">Program counter</option>-->
    <!--<option value="crash_hash">Crash hash</option>-->
  <!--</select>-->
  <!--<label>with value similar to</label>-->
  <!--<input type="text" name="no_fieldValue" id="idNoFieldValue" value="">-->

  <!--<input type="checkbox" name="hideDup" id="hideDup" ""/>-->
  <!--<label for"hideDup">Hide duplicates</label>-->
  <!--<input type="checkbox" name="hide_non_verified" id="hide_non_verified" ""/>-->
  <!--<label for"hideNonVerified">Hide Non Verified Crashes</label>-->

  <!--<br/>-->

  <!--<label><b class="label">Sort</b> results matching field</label>-->
  <!--<input type="hidden" id="idSavedSort" value="$sort_value">-->
  <!--<select name="sortValue" id="idSortSelect">-->
    <!--<option value="crash_signal">Signal</option>-->
    <!--<option value="exploitability">Exploitable</option>-->
    <!--<option value="date" selected>Date</option>-->
    <!--<option value="disassembly">Disassembly</option>-->
    <!--<option value="program_counter">Program counter</option>-->
    <!--<option value="crash_hash">Crash hash</option>-->
  <!--</select>-->


<!--</form>-->


<div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="form-group">
            <select class="form-control" onchange="window.location=update_url_variables(window.location.toString(), 'target_id', this.value)">
                <option selected value="1"></option>
            {% for tgt in targets %}
            <option value="{{ tgt.id  }}">{{ tgt.name }} (id:{{tgt.id }}) - {{ tgt.bin_hash[:4]|to_hex }} hash</option>
            {% endfor %}
            </select>
        </div>
    </div>
</div>

  {% if results|length > 0 %}
      {% for job in results %}
          <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">

              <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="heading{{job.id}}">
                      <h5 class="panel-title">
                          <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse{{job.id}}" aria-expanded="true" aria-controls="collapse{{job.id}}">
                              <i class="more-less glyphicon glyphicon-plus"></i>
                              Project {{job.name}} (id:{{ job.id }}) - {{ job.crashes|length }} crashes
                          </a>
                      </h5>
                  </div>
                  <div id="collapse{{job.id}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="heading{{job.id}}">
                      <div class="panel-body">
                          {% if job.crashes|length > 0 %}
                              <a href="/download/job/{{ job.crashes.job_id }}" class="btn btn-sm btn-green white" role="button" >Download Project Results <span class="glyphicon glyphicon-download"></span></a>
                              <!-- <table class="table table-responsive table-hover table-bordered" style=" width: 100%;" id="data"> -->
                              <table class="display compact" style="width: 100%; font-size: small;" id="data">
                                  <thead>
                                  <tr>
                                      <th>Action</th>
                                      <th>Fuzzer</th>
                                      <th>Verified</th>
                                      <th>Bug ID</th>
                                      <th>Exploitable</th>
                                      <th>Signal</th>
                                      <th>Crash Filename</th>
                                      <th>Size</th>
                                      <th>Timestamp</th>
                                  </tr>
                                  </thead>
                                  <tbody>
                                      {% for crash in ( job.crashes[:10] if results|length > 1 else job.crashes ) %}
                                      <tr>
                                          <td align="center">
                                              <a href="{{ url_for('crashes.show_crash', crash_id = crash.id) }}"><span class="glyphicon glyphicon-eye-open"></span></a>
                                              <a href="{{ url_for('crashes.download_crash', crash_id = crash.id) }}"><span class="glyphicon glyphicon-download"></span></a>
                                              <a href="/crashes/original/{{ crash.id }}"><span class="glyphicon glyphicon-search"></span></a>
                                          </td>
                                          <td>{{ "F%04d"|format(crash.s_id) }} </td>
                                          <td>{{ crash.verified }}</td>
                                          <td>{{ crash.bug_id }}</td>
                                          <td>
                                              {% if crash.exploitability %}
                                                  <font color={{ exploitable_color(crash.exploitability) }}>{{crash.exploitability }}</font>
                                              {% else %}
                                                  None
                                              {% endif %}
                                          </td>
                                          <td>
                                              {{ map_signal_to_string(crash.crash_signal) }}
                                          </td>
                                          <td>
                                              {% if crash.filename %}
                                                  {{crash.filename}}
                                              {% else %}
                                                  None
                                              {% endif %}
                                          </td>
                                          <td>{{crash.test_case|length}}</td>
                                          <td>
                                            {{crash.timestamp.strftime("%Y-%m-%d %H:%M")}}
                                          </td>
                                      </tr>
                                  {% endfor %}
                                  </tbody>
                              </table>
                         {% endif %}
                      </div>
                  </div>
              </div>
          </div>
      {% endfor %}
    <script>
        $(document).ready(function() {
                $('table.display').DataTable();
        } );
    </script>
  {% else %}
      No results yet. You may want to check the <a href="/statistics/show">statistics</a> meanwhile.
  {% endif %}


{% endblock %}
