{% extends "base.html" %}

{% set active_page = "Jobs" %}

{% block content %}

<h2>Fuzzer Stats</h2>
  <table class="display table table-responsive table-hover table-bordered" style=" width: 100%;" id="data">
    <thead>
      <tr>
          <th>Action</th>
          <th>Job</th>
          <th>Banner</th>
          <th>Crashes</th>
          <th>Executions</th>
          <th>Cov</th>
          <th>Paths</th>
          <th>Last Crash</th>
          <th>Last Path</th>
          <th>Last Update</th>
          <th>Started</th>
          <th>Description</th>
      </tr>
    </thead>
    <tfoot>
        <tr>
            <th> </th> <th> </th> <th> </th> <th> </th> <th> </th>
            <th> </th> <th> </th> <th> </th> <th> </th> <th> </th>
            <th> </th> <th> </th>
        </tr>
    </tfoot>
  </table>
<script>
  $(document).ready(function() {
    function readableNum(n, p) {
      var s = ['', 'k', 'M', 'B', 'T', 'Q'];
      var e = Math.floor(Math.log(n) / Math.log(1000));
      return (n / Math.pow(1000, e)).toFixed(p) + s[e];
    }
    function readableDate(s, end) {
        if (end == 0) {
            end  = new Date() / 1000;
        }
        var td = Math.abs(end - s) ;
        var days = Math.floor(td / 86400);
        if (days > 365) return "-";
        td -= days * 86400;
        var hours = Math.floor(td / 3600) % 24;
        td -= hours * 3600;
        var mins = Math.floor(td / 60) % 60;
        return ((days > 0) ? days + "d, " : "") +
               hours + "h, " + mins + "m";
    }
    $.fn.dataTable.ext.buttons.reload = {
        text: 'Reload',
        action: function (e, dt, node, config) {
            dt.ajax.reload();
    }}
    $('table.display').DataTable({
      dom: 'lfrBtip',
      buttons: [ 'copy', 'reload' ],
      colReorder: true,
      "pageLength": 25,
      "processing": true,
      "responsive": true,
      "deferRender": true,
      "ajax": "/api/jobs/fuzzers",
      "columns": [
         {'data': 'id',
          "render": function(data, type, row, meta) {
              return '<a href="/stats/show/'+data+'"><span class="glyphicon glyphicon-eye-open"></span></a>' +
                     '<a href="/stats/delete/'+data+'"> <span class="glyphicon glyphicon-trash"></span></a>' +
                     '<a href="/stats/download/'+data+'"> <span class="glyphicon glyphicon-download"></span></a>';}
         },
         {'data': 'job_name',
          "render": function(data, type, row, meta) {
                return '<a href="/jobs/show/'+row.job_id+'">'+data+'</a>';
              }
          },
          {'data': 'afl_banner',
           "render": function(data, type, row, meta) {
                return '<a href="/stats/show/'+row.id+'">'+data+'</a>';
              }
          },
          {'data': 'unique_crashes'},
          {'data': 'execs_done',
           'render': $.fn.dataTable.render.number(',','.')},
          {'data': 'bitmap_cvg',
           'render': function (data, type, row) {
               if ( type !== 'display' ) { return data; }
               if ( typeof data !== 'number' && typeof data !== 'string' ){
                   return data;
               }
               var flo = parseFloat(data);
               if ( isNaN(flo) ) { return data; }
               flo = Math.min(999.0, flo.toFixed(1));
               return flo + '%';
              }
          },
          {'data': 'paths_found'},
          {'data': 'e_last_crash',
              'render': function(data, type, row) {
                  return ( type === 'display' ) ?
                      readableDate(data, row.e_last_update) :
                      data; }},
          {'data': 'e_last_path',
              'render': function(data, type, row) {
                  if ( type === 'display' ){
                      return readableDate(data, row.e_last_update);
                  }
                  return data;
              }},
          {'data': 'e_last_update',
              'render': function(data, type, row) {
                  if ( type === 'display' ){
                      return readableDate(row.e_last_update, 0);
                  }
                  return row.e_last_update;
              }},
          {'data': 'start_time',
           'render': function(data,type,row) {
               if ( type === 'display' ) {
                   return typeof data === 'string' ? data.substr(0,25) : "";
               }
               return row.e_start_time;
           }},
          {'data': 'description',
           'visible': false},
      ],
        "footerCallback": function (tfoot, data, start, end, display) {
            var api = this.api(), data;

            var intVal = function( i ) {
                return typeof i == 'string' ? i.replace(/[\$,]/g, '')*1 :
                    typeof i == 'number' ? i : 0;
                };
            total_execs = api.column(4, { search: 'applied' }).data().reduce(
                function(a, b) {
                    return intVal(a) + intVal(b);
                }, 0 );
            $( api.column(4).footer() ).html( (total_execs/1000000).toFixed(2)+'M' );
        }
    } );
  } );
</script>

{% endblock %}
