{% extends "base.html" %}

{% set active_page = "Statistics" %}

{% block head %}
  <link rel="stylesheet" type="text/css" href="/static/ansi.css">
{% endblock %}

{% block content %}


{% if stats %}
<h3>Fuzzer Stats View {% if stats.job %} - {{ stats.job.name }} {% endif %}</h3>
  <table class="table table-responsive table-hover table-bordered" style="border-spacing: 5px; width: 100%;">
    <tr>
      <th width="160px">Command Line:</th>
      <td><code>{{ stats.command_line }}</code></td>
    </tr>
    <tr>
      <th>Executions:</th>
      <td>{% if stats.execs_done %}{{ "{:,}".format(stats.execs_done) }}{% endif %}</td>
    </tr>
    <tr>
      <th>Unique Bugs:</th>
      <td>{{ stats.unique_bugs }}</td>
    </tr>
    <tr>
      <th>Unique Crashes:</th>
      <td>{{ stats.unique_crashes }}</td>
    </tr>
    <tr>
      <th>Unique Hangs:</th>
      <td>{{ stats.unique_hangs }}</td>
    </tr>
    <tr>
      <th>Current Speed:</th>
      <td>{{ stats.execs_per_sec }} execs/second</td>
    </tr>
    <tr>
      <th>Paths Found (Favs/All):</th>
      <td>{{ stats.paths_found }} / {{ stats.paths_total }}</td>
    </tr>
    <tr>
      <th>Pending (Favs/All):</th>
      <td>{{ stats.pending_favs }} / {{ stats.pending_total }}</td>
    </tr>
    <tr>
      <th>Stability:</th>
      <td>{{ stats.stability }}%</td>
    </tr>
    <tr>
      <th>Cycles Completed:</th>
      <td>{{ stats.cycles_done }}</td>
    </tr>
    <tr>
      <th>Last Update:</th>
      {% if  stats.last_update  %}
        <td style="color:red;">{{ stats.last_update|time_ago }} ago, {{ humantime(stats.last_update) }} </td>
      {% else %}
        <td>{{ stats.last_update|time_ago }} ago, {{ humantime(stats.last_update) }} </td>
      {% endif %}
    </tr>
    <tr>
    <tr>
      <th>Last Path:</th>
      <td>{{ stats.last_path|time_ago }} ago, {{ humantime(stats.last_path) }}, {{ stats.last_path|time_ago }}</td>
    </tr>
    <tr>
      <th>Last Hang:</th>
      <td>{{ stats.last_hang|time_ago }} ago, {{ humantime(stats.last_hang) }} </td>
    </tr>
    <tr>
      <th>Last Crash:</th>
      <td>{{ timediff(stats.last_crash,append=' ago') }}, {{ humantime(stats.last_crash) }} </td>
    </tr>
    <tr>
      <th>Total Running Time</th>
      <td>{{ timediff(stats.start_time, end=stats.last_update) }} </td>
    </tr>
    <tr>
      <th>Running on </th>
      <td>{{ stats.fuzzer_hostname }} PID: {{ stats.fuzzer_pid }}</td>
    </tr>
  </table>

{% if console %}
  <hr>
  <table><tr><td style="background-color: #000;">
    <pre style="background-color: #000;">
      <div class="f9 b9">{{ console|safe }}</div>
    </pre>
  </td></tr></table>
{% endif %}


<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<hr>
<div class="chart" id="finds_plot"></div>
<hr>
<div class="chart" id="paths_plot"></div>

  <script>
    function makeplot() {
      Plotly.d3.csv("/stats/plot_data/{{ stats.id }}", function(data){ processData(data)});
    };

    function processData(allRows) {
      //console.log(allRows);
      if (allRows.length < 2) {
        return;
      }
      var x = [], unique_crashes = [];
      var cycles_done = [], cur_path = [], paths_total = [];
      var pending_total = [], pending_favs = [], map_size = [];
      var unique_hangs = [], max_depth = [], execs_per_sec = [];

      for(var i=1; i<allRows.length; i++) {
        row = allRows[i];
        x.push(new Date(row['# unix_time'] * 1000));
        unique_crashes.push(row[' unique_crashes']);
        cycles_done.push(row[' cycles_done']);
        cur_path.push(row[' cur_path']);
        paths_total.push(row[' paths_total'])
        pending_total.push(row[' pending_total']);
        pending_favs.push(row[' pending_favs']);
        map_size.push(row[' map_size']);
        unique_hangs.push(row[' unique_hangs']);
        max_depth.push(row[' max_depth']);
        execs_per_sec.push(row[' execs_per_sec']);
      }
      //console.log('X',x,'Y',y);
      var uc_tr = {x:x, y:unique_crashes, type:'scatter', name:'uniq crashes'};
      var uh_tr = {x:x, y:unique_hangs, type:'scatter', name:'uniq hangs'};
      var lv_tr = {x:x, y:max_depth, type:'scatter', name:'levels'};
      var finds_traces = [uc_tr, uh_tr, lv_tr];
      makePlotly(finds_traces, 'finds_plot', {title: 'Finds'});

      var tp_tr = {x:x, y:paths_total, type:'scattergl', name:'total paths'};
      var cp_tr = {x:x, y:cur_path, type:'scattergl', fill:'tozeroy', mode:'none', name:'current path'};
      var pp_tr = {x:x, y:pending_total, type:'scattergl', name:'pending paths'};
      var pf_tr = {x:x, y:pending_favs, type:'scattergl', name:'pending favs'};
      var cd_tr = {x:x, y:cycles_done, type:'scattergl', name:'cycles done'};
      var path_traces = [tp_tr, cp_tr, pp_tr, pf_tr, cd_tr];
      makePlotly(path_traces, 'paths_plot', {title: 'Coverage Progress'});
    }

    function makePlotly(traces, plotid, meta) {
      var plotDiv = document.getElementById("plot");

      Plotly.newPlot(plotid, traces, meta);
    };

    makeplot();
  </script>


  {% if current_user is defined and current_user.has_role('admin') %}
      <hr>
      <h4>Raw fuzzer stats</h4>

      <table class="table table-hover table-sm" style="width: 100%;">
        {% for key, value in stats.items() %}
          <tr>
            <th style="padding: 3px;">{{ key }}</th>
            <td style="padding: 3px;">: {{ value }}</td>
          </tr>
          {% endfor %}
      </table>
  {% endif %}
{% else %}
    No Fuzzer stats yet.
{% endif %}

{% endblock %}
