{% extends "base.html" %}

{% set active_page = "Statistics" %}

{% block content %}

<h2>Fuzzer Stats</h2>
  <table class="display table table-responsive table-hover table-bordered" style=" width: 100%;" id="data">
    <thead>
      <tr>
          <th>Action</th>
          <th>Job</th>
          <th>Crashes</th>
          <th>Speed</th>
          <th>Executions</th>
          <th>Cov</th>
          <th>Mode</th>
          <th>Cycles</th>
          <th>Paths</th>
          <th>Last Update</th>
          <th>Started</th>
          <th>Runtime</th>
          <th>Description</th>
      </tr>
    </thead>
    <tfoot>
        <tr>
            <th> </th> <th> </th> <th> </th> <th> </th> <th> </th>
            <th> </th> <th> </th> <th> </th> <th> </th> <th> </th>
            <th> </th> <th> </th> <th> </th>
        </tr>
    </tfoot>
  </table>
<script>
  function sum_totals(dt, row_selector_modifier) {
      var r = {
          count: 0,
          execs: 0,
          runtime: 0,
          paths: 0,
          crashes: 0
      }
      r.count = dt.rows(row_selector_modifier).count();
      dt.rows(row_selector_modifier).every(
        function ( rowIdx, tableLoop, rowLoop ) {
          var d = this.data()
          var endDate = new Date(d.last_update);
          var startDate = new Date(d.start_time);
          var runtime = (d.e_last_update - d.e_start_time);
          r.execs += d.execs_done;
          r.runtime += runtime;
          r.paths += d.paths_found;
          r.crashes += d.unique_crashes;
        }
      )
      return r;
  }

  $(document).ready(function() {
    function readableNum(n, p) {
      var s = ['', 'k', 'M', 'B', 'T', 'Q'];
      var e = Math.floor(Math.log(n) / Math.log(1000));
      return (n / Math.pow(1000, e)).toFixed(p) + s[e];
    }
    $.fn.dataTable.ext.buttons.reload = {
        text: 'Reload',
        action: function (e, dt, node, config) {
            dt.ajax.reload();
    }}
    $('table.display').DataTable({
      dom: 'lfrBtip',
      buttons: [ 'copy', 'reload', 'colvis' ],
      colReorder: true,
      'order': [0, 'desc'],
      "pageLength": 25,
      "processing": true,
      "responsive": true,
      "deferRender": true,
      "ajax": {
        url: "/api/stats",
        data: {
    {% if values.fuzzer_id %}
          "fuzzer_id": "{{ values.fuzzer_id }}",
    {% endif %}
    {% if values.target_id %}
          "target_id": "{{ values.target_id }}",
    {% elif values.target_name %}
          "target_name": "{{ values.target_name }}",
    {% endif %}
      }},
      "columns": [
         {'data': 'id',
          "render": function(data, type, row, meta) {
              if ( type !== 'display' ) { return data; }
              return '<a href="/stats/show/'+data+'"><span class="glyphicon glyphicon-eye-open"></span></a>' +
                     '<a href="/stats/download/'+data+'"> <span class="glyphicon glyphicon-download"></span></a>' +
                     (row.alive ? ' <span class="glyphicon glyphicon-ok"></span>' : "");}
         },
         {'data': 'job_name',
          "render": function(data, type, row, meta) {
                var banner = "0";
                if (!!row.afl_banner) {
                  banner = row.afl_banner.slice(-3)
                }
                return '<a href="/jobs/show/'+row.job_id+'">'+data+'</a>' +
                       ' /'+banner;
              }
          },
          {'data': 'unique_crashes', 'name': 'unique_crashes'},
          {'data': 'execs_per_sec', 'name': 'speed',
           'render': $.fn.dataTable.render.number(',','.','1')},
          {'data': 'execs_done', 'name': 'execs_done',
           'render': $.fn.dataTable.render.number(',','.')},
          {'data': 'bitmap_cvg',
           'render': function (data, type, row) {
               if ( type !== 'display' ) { return data; }
               if ( typeof data !== 'number' && typeof data !== 'string' ){
                   return data;
               }
               var flo = parseFloat(data);
               if ( isNaN(flo) ) { return data; }
               flo = Math.min(999.0, flo.toFixed(1));
               return flo + '%';
              }
          },
          {'data': 'target_mode'},
          {'data': 'cycles_done'},
          {'data': 'paths_found', 'name': 'paths_found'},
          {'data': 'last_update', 'name': 'last_update',
           'render': function(data, type, row) {
               if ( type === 'display' ){
                   return typeof data === 'string' ? data.substr(5,21) : ""
               }
               return row.e_last_update;
           }},
          {'data': 'start_time',
           'render': function(data,type,row) {
               if ( type === 'display' ) {
                   return typeof data === 'string' ? data.substr(0,25) : "";
               }
               return row.e_start_time;
           }},
          {'data': 'last_update', 'name': 'runtime',
           'visible': false,
           'render': function(data, type, row) {
               return typeof data === 'string' ? Math.round((row.e_last_update - row.e_start_time)/60/60) : "";
           }},
          {'data': 'description',
           'visible': false},
      ],
        "footerCallback": function (tfoot, data, start, end, display) {
            var api = this.api(), data;
            var total = sum_totals(api, {selected: false, search: 'applied'});
            var avg_speed = total.execs / total.runtime;
            var avg_paths = total.paths / total.count;
            var avg_crashes = total.crashes / total.count;

            $( api.column('execs_done:name').footer() ).html( (total.execs/1000000).toFixed(2)+'M' );
            $( api.column('speed:name').footer()  ).html(avg_speed.toFixed(0));
            $( api.column('last_update:name').footer()  ).html(numeral(total.runtime).format('00:00:00') + ' hrs');
            $( api.column('paths_found:name').footer()  ).html(avg_paths.toFixed(0));
            $( api.column('unique_crashes:name').footer()  ).html(avg_crashes.toFixed(0));
        }
    } );
  } );
</script>

{% endblock %}
