{% extends "base.html" %}

{% set active_page = "Jobs" %}

{% block content %}

<h2>Jobs</h2>
{% if jobs %}
  <table class="display table hover table-responsive table-bordered stripe compact" style=" width: 100%;" id="data">
    <thead>
      <tr>
          <th>Action</th>
          <th>Name</th>
          <th>Fuzzers</th>
          <th>Crashes</th>
          <th>Bugs</th>
          <th>Executions</th>
          <th>Speed</th>
          <th>Paths Found</th>
          <th>Paths Pending</th>
          <th>Fuzzer</th>
          <th>Start date</th>
          <th>Description</th>
      </tr>
    </thead>
    <tfoot>
      <tr>
        <th></th>
        <th></th>
        <th>Cores</th>
        <th>Unique</th>
        <th>Bugs</th>
        <th>Execs</th>
        <th>Exec/sec</th>
        <th>Found / All</th>
        <th>Favs / All</th>
        <th></th>
        <th></th>
        <th></th>
      </tr>
    </tfoot>
  </table>
  <script>
    $(document).ready(function() {
      $('#data').DataTable({
        dom: 'lfBtSrip',
        buttons: [
            'copy',
            {text:'Refresh', action: function(e, dt, node, config) {dt.ajax.reload();}}
        ],
        colReorder: true,
        processing: true,
   {% if values.paging %}
        scrollY: '65vh',
        scrollCollapse: true,
        scroller: true,
   {% else %}
        paging: true,
        pageLength: 25,
   {% endif %}
        select: true,
        responsive: true,
        deferRender: true,
        ajax: {
          "url": "/api/jobs_show",
          "data": {
    {% if values.target_id %}
          "target_id": "{{ values.target_id }}",
    {% elif values.target_name %}
          "target_name": "{{ values.target_name }}",
    {% endif %}
    {% if values.fuzzer_id %}
          "fuzzer_id": "{{ values.fuzzer_id }}",
    {% endif %}
            }
        },
         "columns": [
           {'data': 'job_id', 'className': 'dt-body-center',
            "render": function(data, type, row, meta) {
              return ' <a href="/jobs/show/'+data+'"><span class="glyphicon glyphicon-eye-open"></span></a> '+
                     ' <a href="/jobs/edit/'+data+'"><span class="glyphicon glyphicon-edit"></span></a> '+
                     ' <a href="/jobs/delete/'+data+'"><span class="glyphicon glyphicon-trash"></span></a> '+
                     ' <a href="/jobs/download/'+data+'"><span class="glyphicon glyphicon-download"></span></a>';}
           },
           {'data': 'job_name'},
           {'data': 'num_fuzzers'},
           {'data': 'total_crashes',
            'render': function(data, type, row) {
               return '<a href="/crashes/show?job_id='+row.job_id+'">'+data+'</a>';}},
           {'data': 'total_bugs',
            'render': function(data, type, row, meta) {
               return '<a href="/crashes/all?uniqbugs=1&job_id='+row.job_id+'">'+data+'</a>';
              }},
           {'data': 'total_executions',
            'render': $.fn.dataTable.render.number(',','.')},
           {'data': 'speed',
            'render': $.fn.dataTable.render.number(',','.','1')},
           {'data': 'total_paths',
            'render': function(data, type, row) {
               return row.total_found + ' / ' + row.total_paths}},
           {'data': 'total_pending',
            'render': function(data, type, row) {
               return row.total_pfav + ' / ' + row.total_pending}},
           {'data': 'fuzzer_name'},
           {'data': 'job_date',
            'render': function(data,type,row) {
               return typeof data == 'string' ? data.substr(5,11) : "";}},
           {'data': 'description',
            'visible': false},
          ]
      });
    });
  </script>
{% else %}
    No Jobs created yet.
{% endif %}

{% endblock %}
