{% extends "base.html" %}

{% set active_page = "Jobs" %}

{% block content %}

<table border="0">
<tr><td>
<h2>Add new job</h2>
  <form method="POST" enctype="multipart/form-data" action="">
  <table>
   <tr>
    <td><label>Name*</label></td>
    <td><input type="text" name="name" size="50" required></td>
    <td><i>Short name of the new project.</i></td>
   </tr>
   <tr>
    <td valign="top"><label>Description*</label></td>
    <td><textarea rows="10" cols="50" name="description" required></textarea></td>
    <td valign="top"><i>Description of the project. Use this field to specify the version, operating systems, CPU, etc...</i></td>
   </tr>
   <tr>
    <td><label>Maximum iteration*</label></td>
    <td><input type="number" name="maximum_iteration" value="1000000" required></td>
    <td><i>Maximum number of iterations per fuzz job. Afterwards the fuzz job is disabled.</i></td>
   </tr>
   <tr>
    <td><label>Timeout*</label></td>
    <td><input type="number" name="timeout" value="24" required></td>
    <td><i>Timeout fuzz job after X hours. Afterwards the fuzz job is disabled.</i></td>
   </tr>
   <tr>
     <td><label>Fuzzer*</label></td>
      <td>
        <select required name="fuzzer">
          {% for fuzzer in fuzzers %}
            <option value="{{fuzzer.id}}">{{fuzzer.name}}</option>
          {% endfor %}
        </select>
      </td>
      <td><i>The fuzzer to use for fuzzing.</i></td>
   </tr>
   <tr>
     <td><label>Mutation engine*</label></td>
      <td>
        <select required name="mutation_engine">
	   {% for engine in engines %}
       <option value="{{engine}}">{{engine}}</option>
       {% endfor %}
        </select>
      </td>
      <td><i>The mutation engine to use for sample generation.</i></td>
   </tr>
     <tr>
     <td><label>Verifier*</label></td>
      <td>
        <select required name="verifier">
          {% for verifier in verifiers %}
            <option value="{{verifier.id}}">{{verifier.name}}</option>
          {% endfor %}
        </select>
      </td>
      <td><i>The fuzzer to use for fuzzing.</i></td>
   </tr>
    <tr>
    <td><label>Fuzzing Target*</label></td>
    <td><input type="file" name="fuzzing_target" required></td>
    <td><i>The executable to fuzz</i></td>
   </tr>
      <tr>
    <td><label>Command line arguments</label></td>
    <td><input type="text" name="cmd_args" size="50"></td>
    <td><i>Command line arguments to pass to fuzzing target.</i></td>
   </tr>
   <tr>
    <td><label>Seed(s)</label></td>
    <td><input type="file" name="seeds"></td>
    <td><i>One seed or several seeds as zip file.</i></td>
   </tr>
    <tr>
    <td><label>Firmware root (zip)</label></td>
    <td><input type="file" name="firmware_root"></td>
    <td><i>If this is a firmware fuzz job then upload the firmware as zip file.</i></td>
   </tr>
   <tr>
     <td colspan="2"><input type="submit" value="Add new project"></td>
   </tr>
  </table>
  </form>
</td></tr>
</table>
{% endblock %}
