{% extends "base.html" %}

{% set active_page = "Jobs" %}

{% block content %}

<h2>Job Detail View</h2>
{% if job %}
<a href="{{ url_for('jobs.show_previous_job', job_id=job.id) }}" class="btn btn-sm btn-green white" role="button" >Previous Job <span class="glyphicon glyphicon-step-backward"></span></a>
<a href="{{ url_for('jobs.jobs_download', job_id=job.id) }}" class="btn btn-sm btn-green white" role="button" >Download Job <span class="glyphicon glyphicon-download"></span></a>
<a href="{{ url_for('jobs.show_next_job', job_id=job.id) }}" class="btn btn-sm btn-green white" role="button" >Next Job <span class="glyphicon glyphicon-step-forward"></span></a>

    <table class="table table-responsive table-hover table-bordered"
            style="border-spacing: 5px; width: 100%;">
      <tr>
        <th>Name</th>
        <td>{{ job.name  }}</td>
      </tr>
      <tr>
        <th>ID</th>
        <td>{{ job.id }}</td>
      </tr>
      <tr>
        <th>Duration</th>
        <td>{{ job.duration }} hours</td>
      </tr>
      <tr>
        <th>Crashes</th>
        <td>{{ job.crashes|length }}</td>
      </tr>
      <tr>
        <th>Bugs</th>
        <td>{{ bugs.all }}</td>
      </tr>
      <tr>
        <th>Fuzzers</th>
        <td>{{ job.stats|length }}</td>
      </tr>
      <tr>
        <th>Verifier</th>
        <td>{{ job.verifier.name }}</td>
      </tr>
      <tr>
        <th>Enabled</th>
        <td>{{ job.enabled }}</td>
      </tr>
      <tr>
        <th>Known Bugs</th>
        <td>{{ job.fuzzing_target.known_bugs }}</td>
      </tr>
      <tr>
        <th>Command Args</th>
        <td><code>{{ job.cmd_args }}</code></td>
      </tr>
      <tr>
        <th>Target</th>
        <td>{{ job.fuzzing_target.name }}</td>
      </tr>
      <tr>
        <th>Seed size</th>
        <td>{{ job.seeds|length }} bytes</td>
      </tr>
      <tr>
        <th>Start Date</th>
        <td>{{ job.date }}</td>
      </tr>
      <tr>
        <th>Description</th>
        <td>{{ job.description }}</td>
      </tr>
      <tr>
        <th>Job secret</th>
        <td>{{ job.job_secret }}</td>
      </tr>
    </table>

  <hr>
  {% if job.stats|length > 0 %}
  <h3>Fuzzer Stats</h3>
  <table class="table table-responsive table-hover table-bordered" style=" width: 100%;" id="data">
      <tr>
          <th>Id</th>
          <th>Banner</th>
          <th title="Unique / Total Crashes">Crashes</th>
          <th>Bugs</th>
          <th><span title="Executions per second">Speed</span></th>
          <th>Executions</th>
          <th>Cov</th>
          <th>Cycles</th>
          <th><span title="Paths found / imported / total">Paths (F/I/T)</span></th>
          <th><span title="Pending paths favored / total">Pending (F/T)</span></th>
          <th>Last New Path</th>
          <th>Started</th>
      </tr>
      {% for stat in job.stats %}
          <tr>
	            <td>
                  <a href="{{ url_for('stats.show_stat', stat_id = stat.id) }}">
                      <span class="glyphicon glyphicon-eye-open"></span> </a>
                  <span title="{{ stat.command_line }}">
                    {{ "%03d" |format(stat.id) }} </span>
              </td>
              <td>{{ stat.afl_banner }}</td>
              <td>{{ bugs[stat.id][0] }} / {{ stat.unique_crashes }}</td>
              <td>{{ bugs[stat.id][1] }}</td>
              <td>{{ stat.execs_per_sec }}</td>
              <td>{% if stat.execs_done %}{{ "{:,}".format(stat.execs_done) }}{% endif %}</td>
              <td>{{ stat.bitmap_cvg }}%</td>
              <td>{{ stat.cycles_done }}</td>
              <td>{{ stat.paths_found }}/ {{ stat.paths_imported }}/ {{ stat.paths_total }}</td>
              <td>{{ stat.pending_favs }}/ {{ stat.pending_total }}</td>
              <td>{{ stat.last_path|time_ago }}</td>
              <td>{% if stat.start_time %}{{ stat.start_time.strftime("%m-%d %H:%M:%S") }}{% endif %}</td>
          </tr>
      {% endfor %}
  </table>


<hr>

<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>

<div class="chart" id="monitor_plot"></div>

  <script>
    function makeplot() {
      Plotly.d3.csv("/jobs/plot_data/{{ job.id }}", function(data){ processData(data)});
    };

    function processData(allRows) {
      //console.log(allRows);
      if (allRows.length < 2) {
        return;
      }
      var x = [], blocks = [], edges = [], bugs = [], crashes = [];

      for(var i=1; i<allRows.length; i++) {
        row = allRows[i];
        x.push(Number(row['rt']));
        blocks.push(row['blocks']);
        edges.push(row['edges']);
        bugs.push(row['bugs']);
        if ('crashes' in row) {
            crashes.push(row['crashes']);
        }
      }
      //console.log('X',x,'Y',y);
      var bl_tr = {x:x, y:blocks, type:'scattergl', name:'blocks'};
      var ed_tr = {x:x, y:edges, type:'scattergl', name:'edges'};
      var bg_tr = {x:x, y:bugs, type:'scattergl', name:'bugs'};
      var finds_traces = [ed_tr, bl_tr, bg_tr];
      if (crashes.length > 0) {
          var cr_tr = {x:x, y:crashes, type:'scattergl', name:'crashes'};
          finds_traces.push(cr_tr)

      }
      var new_menu = [{
          x: 0.05,
          xanchor: "left",
          y: 1.2,
          yanchor: "top",
          buttons: [{
              method: 'update',
              args: [{'visible': [true, true, true]},
                     {'title': 'Monitor Coverage (log scale)',
                      'xaxis': {type:'log', title: 'Seconds'}}],
              label: 'log'
          }, {
              method: 'update',
              args: [{'visible': [true, true, true]},
                     {'title': 'Monitor Coverage (linear scale)',
                      'xaxis': {type: 'linear', title: 'Seconds'}}],
              label: 'linear'
              }]
      }];
      var layout = {
            title: 'Monitor Coverage',
            xaxis : { title: 'Seconds', type: 'log' },
            updatemenus: new_menu
        }
      makePlotly(finds_traces, 'monitor_plot', layout);
    }

    function makePlotly(traces, plotid, meta) {
      var plotDiv = document.getElementById("plot");


      Plotly.newPlot(plotid, traces, meta);
    };

    makeplot();
  </script>

    {% if current_user.has_role('admin') %}
      <hr>
      <h4>Raw Job stats</h4>
      <table class="table table-hover table-sm" style="width: 100%;">
        {% for key, value in job.to_dict().items() %}
          <tr>
            <th style="padding: 3px;">{{ key }}</th>
            <td style="padding: 3px;">: {{ value }}</td>
          </tr>
          {% endfor %}
      </table>
    {% endif %}

  {% endif %}

{% else %}
    No Job detail
{% endif %}

{% endblock %}
