{% extends "base.html" %}

{% set active_page = "Jobs" %}

{% block content %}
<table>
<h2>Edit Job</h2>
  <form action="/jobs/edit/{{ job.id }}" method="POST">
  <input type="hidden" name="id" value="{{ job.id }}"/>
  <table>
   <tr>
    <td><label>Name</label></td>
    <td><input type="text" name="name" size="50" value="{{ job.name }}"></td>
    <td><i>Short name of the new project.</i></td>
   </tr>
   <tr>
    <td valign="top"><label>Description</label></td>
    <td><textarea rows="10" cols="50" name="description">{{ job.description }}</textarea></td>
    <td valign="top"><i>Description of the project. Use this field to specify the version, operating systems, CPU, etc...</i></td>
   </tr>
   </tr>
     <td value="top"><label>Cmd line args</label></td>
     <td><input type="text" name="cmd_args" size="50" value="{{ job.cmd_args }}"></td>
     <td><i>Command line arguments to pass to fuzzing target.</i></td>
   <tr>
     <td><label>Target</label></td>
      <td>
        <select required name="target">
          {% for target in targets %}
            <option value="{{target.id}}"
              {% if job.target_id == target.id %} selected {% endif %}
                    >{{target.name}} ({{ target.bin_hash.hex()[:7] }})
            </option>
          {% endfor %}
        </select>
      </td>
      <td><i>The fuzzer to use for fuzzing.</i></td>
   </tr>
   <tr>
     <td><label>Fuzzer</label></td>
      <td>
        <select required name="fuzzer">
          {% for fuzzer in fuzzers %}
            <option value="{{fuzzer.id}}"
              {% if job.fuzzer.id == fuzzer.id %} selected {% endif %}
              >{{fuzzer.name}}
            </option>
          {% endfor %}
        </select>
      </td>
      <td><i>The fuzzer to use for fuzzing.</i></td>
   </tr>
    <tr>
     <td><label>Mutation engine</label></td>
      <td>
        <select required name="mutation_engine">
	   {% for engine in engines %}
       <option value="{{engine}}"
        {% if job.mutation_engine == engine %} selected {% endif %}
        >{{engine}}</option>
       {% endfor %}
        </select>
      </td>
      <td><i>The mutation engine to use for sample generation.</i></td>
   </tr>
      <tr>
     <td><label>Verifier</label></td>
      <td>
        <select required name="verifier">
	   {% for verifier in verifiers %}
       <option value="{{verifier.id}}"
         {% if job.verifier.id == verifier.id %} selected {% endif %}
         >{{verifier.name}}
       </option>
       {% endfor %}
        </select>
      </td>
      <td><i>The mutation engine to use for sample generation.</i></td>
   </tr>
   <tr>
    <td>Start date</td>
    <td>{{ job.date }}</td>
    <td><i>Date when the project was created.</i></td>
   </tr>
   <tr>
     <td colspan="3">
      <input type="submit" value="Update Job">
      <input type="button" value="Cancel" onclick="javascript:location.href='/jobs/show'"/>
     </td>
   </tr>
  </table>
  </form>
</table>
{% endblock %}
