{% extends "base.html" %}

{% set active_page = "Statistics" %}

{% block content %}


<div class="row">
    <div class="col-md-8 col-md-offset-2 col-lg-6 col-lg-offset-3">
        <div class="form-group">
            <select class="form-control" onchange="window.location=update_url_variables(window.location.toString(), 'job', this.value)">
                <option selected value="1"></option>
            {% for job_name in statistics["job_names"] %}
                <option>{{ job_name }}</option>
            {% endfor %}
            </select>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-8">
        <h3><span class="glyphicon glyphicon-stats"></span> General</h3>
        <table class="table table-responsive table-hover table-bordered" style=" width: 100%;">
            <tr>
              <td class="active" style="text-align: left; padding:5px">jobs</td>
              <td class="active" style="text-align: right; padding:5px">{{ "{:,}".format(statistics["general"]["number_of_jobs"]) }}</td>
            </tr>
            <tr>
                <td class="active" style="text-align: left; padding:5px">crashes</td>
                <td class="active" style="text-align: right; padding:5px">{{ "{:,}".format(statistics["general"]["number_of_crashes"]) }}</td>
            </tr>
            <tr>
                <td class="active" style="text-align: left; padding:5px">unique crashes</td>
                <td class="active" style="text-align: right; padding:5px">{{ "{:,}".format(statistics["general"]["number_of_unique_crashes"]) }}</td>
            </tr>
            <tr>
                <td class="active" style="text-align: left; padding:5px">unique exploitable crashes</td>
                <td class="active" style="text-align: right; padding:5px">{{ "{:,}".format(statistics["general"]["number_of_exploitable_crashes"]) }}</td>
            </tr>
            <tr>
                <td class="active" style="text-align: left; padding:5px">executions</td>
                <td class="active" style="text-align: right; padding:5px">{{ "{:,}".format(statistics["general"]["executions"]) }}</td>
            </tr>
            <tr>
                <td class="active" style="text-align: left; padding:5px">execs_per_sec</td>
                <td class="active" style="text-align: right; padding:5px">{{ "{0:,.1f}".format(statistics["general"]["execs_per_sec"]) }}</td>
            </tr>
            <tr>
                <td class="active" style="text-align: left; padding:5px">runtime</td>
                <td class="active" style="text-align: right; padding:5px">{{ "{0:,.2f}".format(statistics["general"]["runtime"]) }} hrs</td>
            </tr>
        </table>
    </div>
    <div class="col-sm-4">
        <canvas id="different_crashes" width="400" height="400"></canvas>
    </div>
</div>

{% endblock %}
